{% extends "base.html.twig" %}

{% block title_suffix %}{% endblock %}

{% block header_css %}
<style type="text/css">html{height: auto;}</style>
{% endblock %}

{% block header_inner %}
<div id="toolbar">
    <a class="btn btn-info btn-sm post-job" href="{{ path("job_post") }}">{{ "fe.job_post"|trans }}</a>
    {% if areas is defined %}
    <div id="country">
        <a id="change_country">{{ "country"|system|upper|trans }}</a>
        <ul id="other_country">
            {% for area in areas %}
            {% if area.child is defined %}
            <li>
                <h5>{{ area.code|upper|trans }}</h5>
                <ul>
                    {% for child in area.child %}
                    <li><a href="{{ child.domain }}" target="_blank"><i class="glyphicon area_flag area_flag_{{ child.code|upper }}"></i>{{ child.code|upper|trans }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
            {% endfor %}
        </ul>    
    </div>
    {% endif %}

    {% if locales is defined %}
    <div id="locale">
        <a id="change_locale">{{ locales.data[0]|trans }}</a>
        <ul id="other_locale">
            {% if false == locales.single %}
            {% for data in locales.data %}
            <li class="more">
                <ul>
                    {% for locale in data %}
                    <li><a name="{{ locale }}" title="{{ (locale ~ ".title")|trans }}">{{ locale|trans }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
            {% else %}
            {% for locale in locales.data %}
            <li class="single"><a name="{{ locale }}" title="{{ (locale ~ ".title")|trans }}">{{ locale|trans }}</a></li>
            {% endfor %}
            {% endif %}
        </ul>
    </div>
    {% endif %}
    {% if eme_or_emr is defined %}
    <div class="avator avator_1x"> 
        <a class="home" href="{{ path("dashboard") }}"><img src="{{ eme_or_emr.avator|avator }}" /></a>
    </div>
    {% else %}   
    <div class="avator avator_1x">
        {% if isLogin == true %}
        <a class="home" href="{{ path("dashboard") }}"><img src="{{ ""|avator }}" /></a>
        {% else %}
        <a class="home" href="{{ path("user_signin") }}"><img src="{{ ""|avator }}" /></a>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endblock %}

{% block container_inner %}
<div id="logo_top"><a href="{{ path("index") }}"><img src="{{ asset("/logo_top.png") }}" alt="{{ "fe.home"|trans }}" /></a></div>
<div id="jobpostbox">
    {% if isLogin == false %}
    <div>
        <div id="userbox">
            {{ "common.ismember"|trans }}
            <button class="btn btn-info btn-sm" id="signin">{{ "fe.signin"|trans }}</button>
            <button class="btn btn-warning btn-sm" id="signup">{{ "fe.signup"|trans }}</button>
        </div>
        <div id="jobseeker_sign">
            {% if formSignin is defined %}
            <div id="jobseeker_signin">
                {{ form_start(formSignin) }}
                {{ form_widget(formSignin.email) }}
                {{ form_widget(formSignin.password) }}
                {{ form_widget(formSignin.signin) }}
                {{ form_end(formSignin) }}
            </div>
            {% endif %}
            {% if formSignup is defined %}
            <div id="jobseeker_signup">
                {{ form_start(formSignup) }}
                {{ form_widget(formSignup.email) }}
                {{ form_widget(formSignup.password) }}
                {{ form_widget(formSignup.signup) }}
                {{ form_end(formSignup) }}
            </div>
            {% endif %}
            {% if plugins is defined and plugins|length > 0 %}
            <div id="plugin_signin">
                <ul>
                    {% for plugin in plugins %}
                    <li class="signin_{{ plugin[0] }}">
                        <span class="signin_logo"></span>
                        <a href="{{ plugin[1] }}">{{ ("plugin.signin." ~ plugin[0])|trans }}</a>
                    </li>  
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}

    <div id="jobbox">
        <div id="jobpanel">
            <div id="job">
                {{ form_start(jobform) }}
                {% if product is defined and product|length > 0 %}
                <div class="row">
                    {#<div class="col-3 text-right">{{ "table.job.product"|trans }} ( <span class="required">*</span> )</div>#}
                    <div class="col-6" id="job_product">
                        {{ form_widget(jobform.product) }}
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-3 text-right">{{ "table.job.type"|trans }} ( <span class="required">*</span> )</div>
                    <div class="col-6" id="job_type">
                        {{ form_widget(jobform.type) }}
                    </div>
                </div>
                {% if industry is defined and industry|length > 0 %}
                <div class="row" id="job_industry">
                    <div class="col-3 text-right">{{ "table.job.industry"|trans }} ( <span class="required">*</span> )</div>
                    <div class="col-6">
                        <div class="select select-industry" id="job_industry_level_1">
                            {{ form_widget(jobform.industry) }}
                            <div id="job_industry_level_2"></div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if area is defined and area|length > 0 %}
                <div class="row" id="job_area">
                    <div class="col-3 text-right">{{ "table.job.area"|trans }} ( <span class="required">*</span> )</div>
                    <div class="col-6">
                        <div class="select select-area" id="job_area_level_1">
                            {{ form_widget(jobform.area) }}
                            <div id="job_area_level_2"></div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-3 text-right">{{ "table.job.begintime"|trans }} ( <span class="required">*</span> )</div>
                    <div class="col-6">
                        {{ form_widget(jobform.begintime) }}<i class="icon-form-controll icon-office-calendar"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 text-right">{{ "common.salary.unit"|trans }} {{ "table.job.salary"|trans }} ( <span class="required">*</span> )</div>
                    <div class="col-6">
                        {{ form_widget(jobform.salary) }}
                    </div>
                </div>  
                <div class="row">
                    <div class="col-3 text-right">{{ "table.job.title"|trans }} ( <span class="required">*</span> )</div>
                    <div class="col-6">
                        {{ form_widget(jobform.title) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 text-right">{{ "table.job.description"|trans }} ( <span class="required">*</span> )</div>
                    <div class="col-6">
                        {{ form_widget(jobform.description) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 text-right">{{ "table.job.avator"|trans }}</div>
                    <div class="col-6">
                        {{ form_widget(jobform.avator) }}
                        <p><span class="glyphicon glyphicon-exclamation-sign"></span>{{ "common.upload_comment"|trans }}</p>
                        {% if jobform.vars.value.avator %}
                            <img src="{{ jobform.vars.value.avator|avator("2x") }}" />
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 text-right">{{ "table.job.contacter"|trans }}</div>
                    <div class="col-6">
                        {{ form_widget(jobform.contacter) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 text-right">{{ "table.job.contacteremail"|trans }}</div>
                    <div class="col-6">
                        {{ form_widget(jobform.contacteremail) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 text-right">{{ "table.job.contactertel"|trans }}</div>
                    <div class="col-6">
                        {{ form_widget(jobform.contactertel) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 text-right">{{ "table.employer.about"|trans }}</div>
                    <div class="col-6">
                        {{ form_widget(jobform.about) }}
                    </div>
                </div>
                <div class="row" id="job_submit">
                    <div class="col-12">{{ form_widget(jobform.save) }}</div>
                </div>
                {{ form_end(jobform) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer_js %}
<script src="{{ asset("assets/js/ckeditor/ckeditor.js") }}"></script>
<script type="text/javascript">
CKEDITOR.replace("form_description");
CKEDITOR.replace("form_about");

{% if product is defined and product|length > 0 %}
var product = {{ product|json_encode|raw }};
{% if productDefault is defined %}
initJobProduct(product, false, {{ productDefault|json_encode|raw }});
{% else %}
initJobProduct(product, false);
{% endif %}
{% endif %}

{% if typeDefault is defined %}
initJobType("{{typeDefault|raw}}");
{% endif %}

{% if industry is defined and industry|length > 0 %}
var industry = {{ industry|json_encode|raw }};
{% if industryDefault is defined %}
initJobIndustry(industry, "{{ "common.choose"|trans }}", false, {{ industryDefault|json_encode|raw }});
{% else %}
initJobIndustry(industry, "{{ "common.choose"|trans }}", false);
{% endif %}
{% endif %}

{% if area is defined and area|length > 0 %}
var area = {{ area|json_encode|raw }};
{% if areaDefault is defined %}
initJobArea(area, "{{ "common.choose"|trans }}", false, {{ areaDefault|json_encode|raw }});
{% else %}
initJobArea(area, "{{ "common.choose"|trans }}", false);
{% endif %}
{% endif %}
</script>
{% endblock %}