<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <title>{% block title %}{% endblock %}</title>
        <link href="{{ asset("assets/css/bootstrap.css ") }}" rel="stylesheet" />
        <link href="{{ asset("assets/sso/css/common.css") }}" rel="stylesheet" />
        {% block header_css %}{% endblock %}
        <script src="{{ asset("assets/js/jquery.js ") }}"></script>
        <script src="{{ asset("assets/sso/js/common.js") }}"></script>
        {% block header_js %}{% endblock %}
    </head>
    <body>
        <div id="main">
            <div id="main_inner">
            {% block header %}{% endblock %}
            {% block container %}{% endblock %}
            {% block footer %}{% endblock %}
            </div>
        </div>
    </body>
    {% block footer_js %}{% endblock %}
</html>