{% extends "admin/base.html.twig" %}

{% block main_content_inner %}
<div class="form_main">
    <div class="text-left caption">
        <div class="btn-group">
            <div class="btn btn-default">{{ "table.product.duration"|trans }}</div>
            <div class="btn btn-info">{{ "table.product.duration.comment"|trans }}</div>
        </div>
        <div class="btn-group">
            <div class="btn btn-default">{{ "table.product.price"|trans }}</div>
            <div class="btn btn-info">{{ "table.product.price.comment"|trans }}</div>
        </div>
    </div>
    {% if app.session.flashbag.has("danger") %}
    <div class="alert alert-danger">
        {% for danger in app.session.flashbag.get('danger') %}
        {{ danger }}
        {% endfor %}
    </div>
    {% endif %}
    {{ form(form) }}
</div>
{% endblock %}
