{% extends "admin/base.html.twig" %}

{% block main_content_inner %}
<div class="form_main_edit">
    <label id="message_alert"></label>
    <table class="table table-hover diploma_table">
        <thead>
            <tr>
                <th class="diploma_name">{{ "table.employerscale.name"|trans }}</th>
                <th class="diploma_csn">{{ "table.employerscale.csn"|trans }}</th>
                <th class="diploma_queue">{{ "table.employerscale.queue"|trans }}</th>
                <th class="diploma_status">{{ "table.employerscale.status"|trans }}</th>
                <th class="diploma_operation">{{ "be.operate"|trans }}</th>
            </tr>
            <tr>
                <th class="diploma_name">{{ "table.employerscale.name"|trans }}</th>
                <th class="diploma_csn">{{ "table.employerscale.csn"|trans }}</th>
                <th class="diploma_queue">{{ "table.employerscale.queue"|trans }}</th>
                <th class="diploma_status">{{ "table.employerscale.status"|trans }}</th>
                <th class="diploma_operation">{{ "be.operate"|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for scale in scales %}
            <tr>
                {{ form_widget(scale.id) }}
                <td class="diploma_name">{{ form_label(scale.csn) }}</td>
                <td class="diploma_csn">{{ form_widget(scale.csn) }}</td>
                <td class="diploma_queue">{{ form_widget(scale.queue) }}</td>
                <td class="diploma_status">{{ form_widget(scale.status) }}</td>
                <td class="diploma_operation">
                    <button name="edit" class="btn btn-info btn-sm">{{ "be.edit"|trans }}</button>
                    <button name="delete" class="btn btn-warning btn-sm">{{ "be.delete"|trans }}</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<ul class="pager">
    {% for url in urls %}
    <li>{{ url|raw }}</li>
    {% endfor %}
</ul>
{% endblock %}

{% block footer_js %}
<script type="text/javascript">
$("button[name=edit]").click(function() {
    var data = {};
    var inputs = $(this).parent().parent().find("[name^=form]");
    for (var i = 0, len = inputs.length; i < len; i++) {
        var id = $(inputs[i]).attr("id");
        data[id.substring(id.lastIndexOf("_") + 1)] = $(inputs[i]).val();
    }
    $.ajax({
        type: "POST",
        url: "{{ path("employerscale_save") }}",
        data: $.toJSON(data)
    }).done(function(message) {
        if (message == "same") {
            $("#message_alert").attr({"class": "label label-info"}).slideDown(500).html("{{ "be.nochange"|trans }}").delay(800).slideUp(800);
        } else if (message == "success") {
            window.location.reload();
        } else if (message == "error") {
            $("#message_alert").attr({"class": "label label-danger"}).slideDown(500).html("{{ "be.update.fail"|trans }}").delay(800).slideUp(800);
        } else {
            $("#message_alert").attr({"class": "label label-warning"}).slideDown(500).html("{{ "be.update.invalid"|trans }}").delay(800).slideUp(800);
        }
    });
});

$("button[name=delete]").click(function() {
    var pp = $(this).parent().parent();
    var id = pp.find("[name='form[id]']").val();
    $.ajax({
        type: "POST",
        url: "{{ path("employerscale_delete") }}",
        data: id
    }).done(function(message) {
        if (message == "success") {
            $("#message_alert").attr({"class": "label label-success"}).slideDown(500).html("{{ "be.delete.success"|trans }}").delay(800).slideUp(800);
            pp.fadeOut(800);
        } else if (message == "error") {
            $("#message_alert").attr({"class": "label label-danger"}).slideDown(500).html("{{ "be.delete.fail"|trans }}").delay(800).slideUp(800);
        } else {
            $("#message_alert").attr({"class": "label label-warning"}).slideDown(500).html("{{ "be.delete.invalid"|trans }}").delay(800).slideUp(800);
        }
    });
});
</script>
{% endblock %}